@model List<Purrfect.Models.Forum>
@{
    ViewBag.Title = "Forum";
}

<h1>Forum</h1>
@*  *@
<div class="forumPage">
    <div class="forumInfo">

        @foreach (var item in Model)
        {
        <p>@item.Title @for(int i = 0; i< item.Rating; i++){<img src="~/Content/star.png"/>}</p>
        <p>By @item.Username on @(item.ReviewDate)</p>
        <p></p>
        <p>@item.Message</p>
        }

    </div>
    <div class="GoToNewReview">

        <p style="text-align: center"><a class="btn btn-default" id="circlebutton" href="@Url.Action("NewReview", "Home")">Create Review &raquo;</a></p>

    </div>
    
</div>

